body{
  background-image: url("bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.boxContent {
  font-family: sans-serif;
  position: absolute;
  top: 0.01%;
  left: 50%;
  right: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#lbNameCity{
  width: 150px;
}

.resWeather{
  width: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color:#7C9DCB;
  box-shadow: 5px black;
}

.resultContent {
  display: flex;
  flex-flow: row;
  justify-content: space-around;

}

.resultWeather{
  width: 300px;
  padding-top: 20px; 
}

.searchContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.searchBar {
  border: 2px solid transparent;
  border-radius: 5px;
  border-color: gainsboro;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 15px;
  width: 300px;
}

.autocomplete-items{
  position: relative;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 100;
  /*position the autocomplete items to be the same width as the container:*/
  width: 99%;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

@media only screen and (max-width: 600px){
  .resultContent {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-around;
    max-height: 500px;

  }
}